
*.tex linguist-vendored
*.bib linguist-vendored
*.cls linguist-vendored
*.sty linguist-vendored


paper/** linguist-vendored
report/** linguist-vendored
thesis/** linguist-vendored


*.py linguist-language=Python
